In [1349]:
#Importing all the required libraries
import pandas as pd #It makes working with structured data (like CSV files or database tables) easier. You can filter, transform, and analyze data easily using pandas.
import numpy as np #mathematical library #It helps with working on large sets of numbers efficiently, performing mathematical operations, and handling multi-dimensional arrays (like tables of numbers). 
import sklearn # It provides machine learning tools and algorithms for tasks like classification, regression, clustering, and more. It helps you build and train machine learning models.
import matplotlib.pyplot as plt #It helps create visualizations such as line plots, scatter plots, and histograms. You can use it to represent your data visually.
import seaborn as sns #It builds on top of matplotlib and makes it simpler to create statistical visualizations with better aesthetics. It's useful for creating attractive plots like heatmaps, violin plots, and more.
import warnings as wr #Ignores the warnings
wr.filterwarnings('ignore')

KNN Regression

In [1350]:
df1=pd.read_csv("weight-height.csv")

In [1351]:
df1.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [1352]:
df2=df1.copy()

2. Separate x(Gender, Height) and y (y=Weight)
3. Train = 70%, Test = 30%
4. Apply Linear Regression
5. Evaluate the Model (Testing and training Accuracy, MSE for testing)
6. Apply KNN Regressor: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html
7. Evaluate the Model (Testing and training Accuracy, MSE for testing)
8. Compare KNN & Linear regression with the KNN model and Linear regression as well.

In [1353]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [1354]:
df1.Gender=le.fit_transform(df1.Gender) #fit means training and transform means replace/transform.

In [1355]:
df1

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

[8555 rows x 3 columns]

In [1356]:
## Separate the independent variables (x) and the dependent variable (y)

x=df1[['Gender','Height']]

In [1357]:
y=df1[['Weight']]

In [1358]:
x

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
8550       0  60.483946
8551       0  63.423372
8552       0  65.584057
8553       0  67.429971
8554       0  60.921791

[8555 rows x 2 columns]

In [1359]:
y

          Weight
0     241.893563
1     162.310473
2     212.740856
3     220.042470
4     206.349801
...          ...
8550  110.565497
8551  129.921671
8552  155.942671
8553  151.678405
8554  131.253738

[8555 rows x 1 columns]

In [1360]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=42) 

#split the data into 70% for training and 30% for testing 
#random_state is set to 42 to ensure reproducibility of the split.

In [1361]:
x_train.shape

(5988, 2)

In [1362]:
y_train.shape

(5988, 1)

In [1363]:
x_test.shape

(2567, 2)

In [1364]:
y_test.shape

(2567, 1)

In [1365]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [1366]:
model=LinearRegression()

In [1367]:
model.fit(x_train,y_train)

LinearRegression()

In [1368]:
y_pred=model.predict(x_test)

In [1369]:
linear_mse=mean_squared_error(y_test,y_pred)

In [1370]:
linear_mse

96.8373443783061

In [1371]:
model.score(x_test, y_test) #testing accuracy

0.905911242442266

In [1372]:
model.score(x_train, y_train) #training accuracy

0.8973793060969246

In [1373]:
from sklearn.metrics import r2_score
y_train_pred=model.predict(x_train) # Make predictions on the training data
y_test_pred=model.predict(x_test) # Make predictions on the testing data

In [1374]:
# Calculate R-squared for the training data

train_linear_r2 = r2_score(y_train, y_train_pred)

In [1375]:
# Calculate R-squared for the testing data

test_linear_r2 = r2_score(y_test, y_test_pred)

In [1376]:
linear_r2=r2_score(y_test, y_pred)

In [1377]:
linear_r2

0.905911242442266

In [1378]:
train_linear_r2

0.8973793060969246

In [1379]:
test_linear_r2

0.905911242442266

In [1380]:
from sklearn.neighbors import KNeighborsRegressor

knn= KNeighborsRegressor(n_neighbors=5)

In [1381]:
knn.fit(x_train, y_train)

KNeighborsRegressor()

In [1382]:
y_pred=knn.predict(x_test)  # Make predictions on the test data

In [1383]:
knn_mse = mean_squared_error(y_test, y_pred) # Calculate the mean squared error

In [1384]:
knn_mse

121.33528273624482

In [1385]:
knn.score(x_test, y_test) #testing accuracy

0.8821086423439015

In [1386]:
knn.score(x_train, y_train) #training accuracy

0.9172142723737918

In [1387]:
from sklearn.metrics import r2_score
y_train_pred=knn.predict(x_train) # Make predictions on the training data
y_test_pred=knn.predict(x_test) # Make predictions on the testing data

In [1388]:
# Calculate R-squared for the training data

train_knn_r2 = r2_score(y_train, y_train_pred)

In [1389]:
# Calculate R-squared for the testing data

test_knn_r2 = r2_score(y_test, y_test_pred)

In [1390]:
knn_r2=r2_score(y_test, y_pred)

In [1391]:
knn_r2

0.8821086423439015

In [1392]:
train_knn_r2

0.9172142723737918

In [1393]:
test_knn_r2

0.8821086423439015

In [1394]:
print("Linear Regression MSE", linear_mse)
print("KNN MSE", knn_mse)
print("Linear Regression R2 Score", linear_r2)
print("KNN R2 Score", knn_r2)

Linear Regression MSE 96.8373443783061
KNN MSE 121.33528273624482
Linear Regression R2 Score 0.905911242442266
KNN R2 Score 0.8821086423439015

KNN Classification

In [1395]:
df2.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

2. Separate x and (y=Gender)
3. Train = 70%, Test = 30%
4. Apply KNN Classifier
5. Evaluate the Model by only Accuracy.
6. Apply KNN Classifier: https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html

In [1396]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [1397]:
df2.Gender=le.fit_transform(df2['Gender']) #fit means training and transform means replace/transform.

In [1398]:
df2

      Gender     Height      Weight
0          1  73.847017  241.893563
1          1  68.781904  162.310473
2          1  74.110105  212.740856
3          1  71.730978  220.042470
4          1  69.881796  206.349801
...      ...        ...         ...
8550       0  60.483946  110.565497
8551       0  63.423372  129.921671
8552       0  65.584057  155.942671
8553       0  67.429971  151.678405
8554       0  60.921791  131.253738

[8555 rows x 3 columns]

In [1399]:
## Separate the independent variables (x) and the dependent variable (y)

x=df2[['Gender','Height']]

In [1400]:
y=df2[['Weight']]

In [1401]:
x

      Gender     Height
0          1  73.847017
1          1  68.781904
2          1  74.110105
3          1  71.730978
4          1  69.881796
...      ...        ...
8550       0  60.483946
8551       0  63.423372
8552       0  65.584057
8553       0  67.429971
8554       0  60.921791

[8555 rows x 2 columns]

In [1402]:
y

          Weight
0     241.893563
1     162.310473
2     212.740856
3     220.042470
4     206.349801
...          ...
8550  110.565497
8551  129.921671
8552  155.942671
8553  151.678405
8554  131.253738

[8555 rows x 1 columns]

In [1403]:
y.max()

Weight    269.989698
dtype: float64

In [1404]:
y.min()

Weight    65.78
dtype: float64

In [1405]:
y = pd.cut(df2['Weight'], bins=[60,120,270,float('inf')], labels=['Underweight','Normal','Overweight']) # Convert 'Weight' into categories

#pd.cut() function is used to convert the 'Weight' variable into categories. 
#The bins parameter specifies the boundaries for each category, and the labels parameter assigns labels to each category. 
#the 'Weight' values are divided into three categories: 'Underweight' (60-120), 'Normal' (121-200), and 'Overweight' (201 and above).
#When using float('inf') as a bin boundary, it effectively captures all values above the specified range into that category. 
#The first bin is defined as values from 60 (inclusive) to 120 (exclusive). The second bin is defined as values from 120 (inclusive) to 270 (exclusive). The third bin is defined as values from 270 (inclusive) to positive infinity.

In [1406]:
y

0            Normal
1            Normal
2            Normal
3            Normal
4            Normal
           ...
8550    Underweight
8551         Normal
8552         Normal
8553         Normal
8554         Normal
Name: Weight, Length: 8555, dtype: category
Categories (3, object): ['Underweight' < 'Normal' < 'Overweight']

In [1407]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5988 entries, 553 to 7270
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  5988 non-null   int64
 1   Height  5988 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 140.3 KB

In [1408]:
y_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5988 entries, 553 to 7270
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  5988 non-null   float64
dtypes: float64(1)
memory usage: 93.6 KB

In [1409]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3,random_state=42) 

#split the data into 70% for training and 30% for testing 
#random_state is set to 42 to ensure reproducibility of the split.

In [1410]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

kcl=KNeighborsClassifier() #default=5

In [1411]:
kcl.fit(x_train, y_train) # Fit the classifier to the training data

KNeighborsClassifier()

In [1412]:
# Predict the categories for the test data

y_pred=kcl.predict(x_test)

In [1413]:
y_pred

array(['Normal', 'Normal', 'Normal', ..., 'Underweight', 'Normal',
       'Normal'], dtype=object)

In [1414]:
# Evaluate the accuracy of the model

accuracy=kcl.score(x_test, y_test)

In [1415]:
accuracy

0.9470198675496688